-var config = config || {title: 'Statements', cls: 'dark-bg', linkText: 'All Our News', linkCls: 'more', h1Cls:"offset"};
-var text = text || { "title" : "Fannie Mae Prices New Issue 3-Year Benchmark Notes® due July 20, 2018", "date" : "May 22, 2015"}

section.news-teaser(class=config.cls fm-carousel)
  if (config.cls == 'dark-bg')
    h1.banner.b-white.font-serif(class=config.h1Cls)= config.title
  else
    h1.banner.font-serif(class=config.h1Cls)= config.title
  ul.equal-height-sm-row(rn-carousel rn-carousel-index="carouselIndex")
    li.block.col-sm-height 
      h2: a(href="/")!= text.title
      .fm-date= text.date
    li.block.col-sm-height 
      h2: a(href="/")!= text.title
      .fm-date= text.date
    li.block.col-sm-height 
      h2: a(href="/")!= text.title
      .fm-date= text.date
  a(class=config.linkCls href="/")= config.linkText
    i.icon.fm-arrow-right-circle(aria-hidden="true")
  div.mobile-only.fm-carousel-controls(rn-carousel-indicator custom-indicator)
    span(ng-repeat="slide in slides" ng-class="{active: isActiveSlide($index)}" ng-click="setActiveSlide($index)")
